################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bookstore.Web/.vs/Bookstore.Web
/Bookstore.Web/Bookstore.Web/bin/Debug/netcoreapp3.1
/Bookstore.Web/Bookstore.Web/obj
/Bookstore.Web/Bookstore.Web/wwwroot/lib
