
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>
</head>
<body>
    <img src="~/Images/download.png"  alt="Image"/>
    <img src="~/privateImages\Screenshot_1.png" alt="Image" />
    <img src="~/privateImages\october .png"  alt="OCt"/>
    <img src="~/privateImages\5.png" alt="five" />
</body>
</html>
